
#detail_overlay {
    #detail_container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $detail_bgcolor;
        width: 80%;
        max-width: 400px;
        height: 80%;
        max-height: 566px;
        margin: auto;
        padding: 20px;
        opacity: 1;
        #detail_header {
            h3 {
                margin-top: 10px;
            }
        }
        #detail_view {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            dl {
                margin-top: 0;

                dd {
                    margin-bottom: 8px;

                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }

                dd.description {
                    font-size: 12px;
                    -webkit-margin-start: 12px;
                }
            }
        }
    }
}
