@import 'variables';

body {
    margin: 0;
    min-width: 300px;
    font-family:  "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "Yu Gothic", Meiryo, sans-serif;
    color: $color;
}

.overlay {
    display: none;
    position: fixed;
    top: 36px;
    bottom: 0;
    width: 100%;
    background-color: rgba(16, 16, 25, 0.8);
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.right {
    text-align: right;
}

a.disabled {
    text-decoration: none;
    color: $color;
}

#map_canvas {
    height: 600px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding-bottom: 3px;
    border-bottom: 1px solid orange;
    margin-bottom: 3px;
}

@import 'spinner';
@import 'header';
@import 'detail';
@import 'content';

